body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    border : 2px solid red;
}

.calculator {
    background-color: #2a56f4;
    padding: 20px;
   
    border-radius: 10px;
    box-shadow: 4px 8px 12px rgba(130, 137, 243, 0.806);
}

#display {
    color: rgb(20, 19, 19);
    /* width:100%; */
    height: 40px;
    text-align: right;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: rgb(243, 246, 249);
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor:pointer;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.9s ease;
}

button:hover {
    background-color: #7c5959;
}
